<!-- src/app/chat/chat.component.html -->
<div class="chat-container">
  <div class="user-list">
    <div *ngFor="let user of users" (click)="selectUser(user)" [class.active]="user._id === selectedUser?._id">
      {{ user.name }}
    </div>
  </div>

  <div class="chat-window" *ngIf="selectedUser">
    <div class="chat-header">{{ selectedUser.name }}</div>

    <div class="chat-messages">
      <div *ngFor="let msg of messages" [class.self]="msg.fromSelf" class="message">
        {{ msg.content }}
      </div>
    </div>

    <div class="chat-input">
      <input [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Type a message..." />
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>
